<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{ base :: layout(~{::title} , ~{::section} ) }">

<head>
	<meta charset="ISO-8859-1">
	<title>Index</title>
</head>

<body>
	<section>

		<div class="container-fluid p-0 m-0">
			<div class="position-relative">
				<img src="/img/hack0.jpg" class="img-fluid" alt="Background Image">
				<div class=" position-absolute top-0 start-50 translate-middle-x text-center text-border-shadow text-white">
					<br><br>
					<h1 >Welcome to my website <i class="fa-solid fa-triangle-exclamation"></i></h1>
				</div>
			</div>

		</div>

	</section>
</body>

</html>